* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .projectsContainer {
    color: white;
    width: 100%;
    height: 90em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #001F54;
  }

  .title {
    font-size: large;
  }

  .projectsWindow {
    height: 15em;
    width: 15em;
    background-color: white;
    border-radius: 10px;
    font-size: large;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: projectsEffect;
    animation-duration: 1.5s;
  }

  .button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #00A9A5;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
  }

  @keyframes projectsEffect {
    from {transform: translate(-150px); color: #001F54; background-color: #001F54;}
  }


  @keyframes detailButton {
      0% {border-top: 1px solid black;}
      40% {border-right: 1px solid black;}
      60% {border-bottom: 1px solid black;}
      80% {border-left: 1px solid black;}
      100% {border: 1px solid black; background-color: black; color: white;}
  }

  @media only screen and (min-width: 768px) {
    .button:hover {
      animation-name: detailButton;
      animation-duration: 1s;
    }
  }

  @media only screen and (min-width: 2560px) {

    .projectsContainer {
      height: 120em;
    }

    .projectsWindow {
      height: 10em;
      font-size: xx-large;
    }

    .title {
      font-size: xx-large;
    }
  }