* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .skillsContainer {
    width: 100%;
    height: 70em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .percentageContainer {
    height: 4em;
    width: 90%;
    background-color: white;
    border-radius: 10px;
  }

  .percentageReact, .percentageHtml, .percentageCss, .percentageRest, .percentageRedux, .percentageUiUx {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #00A9A5;
    animation-name: skillsEffect;
    animation-duration: 2s;
    border-radius: 10px;
    font-weight: bold;
  }

  .percentageReact {
    width: 80%;
  }

  .percentageHtml {
    width: 95%;
  }

  .percentageCss {
    width: 90%;
  }

  .percentageRest {
    width: 40%;
  }

  .percentageRedux {
    width: 30%;
  }

  .percentageUiUx {
    width: 80%;
  }

  @keyframes skillsEffect {
    from {width: 0px; font-size: 0;}
  }