* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .homeContainer {
    height: 110em;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main {
    background-color: #001F54;
    height: 100em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
  }

  .nameAndRole {
    width: 90%;
    margin: 0 auto;
  }
  .myName {
    font-size: 50px;
    text-transform: uppercase;
    float: left;
    color: #ffffff;
  }

  .myRole {
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    color: white;
  }

  .containerOfAll {
    color: rgb(255, 255, 255);
    width: 16em;
    height: 30em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  
  .aboutTitleAndBttn, .langTitleAndBttn {
    width: 16em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }

  .showAbout, .showLang {
    background-color: #00A9A5;
    border: none;
    width: 3em;
    border-radius: 50%;
  }

  .showAbout:active, .showLang:active {
    border: 1px solid black;
  }

  .aboutMe {
    animation-name: aboutShow;
    animation-duration: 1s;
    z-index: 1;
    position: absolute;
    background-color: white;
    color: black;
    width: 16em;
    height: 30em;
    padding: 1em;
    border-radius: 10px;
    border: none;
  }

  .arrow {
    transition: 2s;
    cursor: pointer;
  }

  .languages {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .flags {
    height: 3em;
    width: 3em;
    animation-name: showFlag;
    animation-duration: 1s;
  }

  .langLevel {
    animation-name: showFlag;
    animation-duration: 1s;
  }


  .footer {
    height: 7em;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .socialGithub, .socialIn {
    height: 4em;
    width: 4em;
   
  }

  .socialGithub {
    background-color: rgb(0, 0, 0);
    border-radius: 55%;
    border: 1px solid black;
  }

  .myName, .myRole, .socialGithub, .socialIn, .aboutTitleAndBttn, .langTitleAndBttn {
    animation-name: homeEffect;
    animation-duration: 1.5s;
  }

  @keyframes showFlag {
    from {transform: translateY(-5px);}  
}

  @keyframes aboutShow {
      from {transform: translateY(-5px);}  
  }

  @keyframes homeEffect {
    from {transform: translate(-150px); color: #001F54}
  }

  @keyframes aboutMeEffect {
    from {transform: translate(-150px); color: #001F54; background-color: #001F54;}
  }
  
  @media only screen and (min-width: 768px) {
    .myName {
      font-size: 80px;
    }
  }

  @media only screen and (min-width: 1024px) {
    
    .containerOfAll {
      width: 40em;
    }

    .aboutTitleAndBttn, .langTitleAndBttn {
      width: 30em;
    }

    .aboutMe {
      width: 30em;
      padding: 1em;
      height: 15em;
    }

    .myName {
      font-size: 90px;
    }
  }

  @media only screen and (min-width: 1440px) {
    .myName {
      font-size: 100px;
    }

    .aboutTitleAndBttn, .langTitleAndBttn {
      font-size: large;
      width: 30em;
      justify-content: center;
      gap: 2em;
    } 

    .containerOfAll {
      width: 60em;
      height: 40em;
    }

    .aboutMe, .langLevel {
      font-size: large;
    }

    .flags {
      height: 6em;
      width: 6em;
    }
  
  }

  @media only screen and (min-width: 2560px) {
    .homeContainer {
      width: 50%;
      margin: 0 auto;
      height: 150em;
    }

    .myName {
      font-size: 150px;
    }

    .myRole {
      font-size: 45px;
    }

    .aboutTitleAndBttn, .langTitleAndBttn {
      font-size: xx-large;
    } 

    .aboutMe {
      font-size: xx-large;
    }

    .flags {
      height: 10em;
      width: 10em;
    }
  
    .langLevel {
      font-size: xx-large;
    }
  }
  
  /*
  
  .aboutMe {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2em;
    margin-top: 1em;
    font-weight: bold;
    color: black;
    text-align: left;
    text-wrap: wrap;
    line-height: 25px;
    white-space: wrap;
    animation-name: aboutMeEffect;
    animation-duration: 1.5s;
  }

  */