* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .homeContainer {
    height: 100em;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .main {
    background-color: #001F54;
    height: 100em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
  }

  .nameAndRole {
    width: 90%;
    margin: 0 auto;
  }
  .myName {
    font-size: 50px;
    text-transform: uppercase;
    float: left;
    color: #ffffff;
  }

  .myRole {
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    color: white;
  }

  .aboutMeSection {
    color: white;
  }

  .aboutMe {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2em;
    margin-top: 1em;
    font-weight: bold;
    color: black;
    text-align: left;
    text-wrap: wrap;
    line-height: 25px;
    white-space: wrap;
  }

  .footer {
    height: 7em;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .socialGithub, .socialIn {
    height: 4em;
    width: 4em;
   
  }

  .socialGithub {
    background-color: rgb(0, 0, 0);
    border-radius: 55%;
    border: 1px solid black;
  }

  .myName, .myRole, .aboutMe, .socialGithub, .socialIn {
    animation-name: homeEffect;
    animation-duration: 1.5s;
  }

  @keyframes homeEffect {
    from {transform: translate(-150px); color: #001F54}
  }
  
  @media only screen and (min-width: 768px) {
    .myName {
      font-size: 80px;
    }

    .aboutMe {
      width: 70%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .myName {
      font-size: 90px;
    }

    .aboutMe {
      width: 60%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .main {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
    }

    .aboutMe, .aboutMeSection {
      margin: 0;
      float: right;
      text-align: center;
    }
   
  }