* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav {
    height: 7em;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .textNav {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
a:active {
  border-bottom: 5px solid #00A9A5;
}
  
 
  @media only screen and (min-width: 1440px) {
  .textNav {
    font-size: x-large;
  }
  }
  
  @media only screen and (min-width: 2560px) {
  
    .nav {
      width: 50%;
      margin: 0 auto;
    }
    .textNav {
    font-size: xx-large;
  }
  }