* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.introContainer {
    background-color: #001F54;
    height: 41em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.titleName {
    font-size: 50px;
    color: #00A9A5;
    animation-name: introMotion;
    animation-duration: 1s;
}

.title {
    font-size: 50px;
    animation-name: introMotion;
    animation-duration: 1.5s;
    color: white;
}

.button {
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: #00A9A5;
    color: white;
    animation-name: introMotion;
    animation-duration: 2s;
    text-decoration: none;
}

.button:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 1024px) {
    .introContainer {
        height: 55em;
        overflow: hidden;
    }

    .title, .titleName {
        font-size: 50px;
    }

    .button {
        width: 10em;
       font-size: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    .introContainer {
        height: 50em;
    }
}


@media only screen and (min-width: 2500px) {
    .introContainer {
        width: 50%;
        height: 120em;
        margin: 0 auto;
    }

    .title, .titleName {
        font-size: 110px;
    }

    .button {
        font-size: 30px;
    }
}


@keyframes introMotion {
  from {transform: translate(-150px)}
}


